body{
    margin: 0 auto;

    #app{
        // size
        width: 100vw;
        height: 100vh;

        // display
        @include flex(column, center, space-between);

        // decoration
        background-color: $h-c-white;

        *{
            // decoration
            color: $h-c-black;
            font-size: $h-s-text;
            font-family: $h-f-monserrat;
        }

        h1, h2, h3, h4{
            // margin
            margin: 0;
            padding: 0;
        }

        h1{
            // decoration
            font-size: $h-s-text-title;
        }

        h2{
            // decoration
            font-size: $h-s-text-subtitle;
        }


        h3{
            // decoration
            font-size: $h-s-text-big;
        }


        a{
            // decoration
            text-decoration: none;
        }

        ul{
            // maring
            padding: 0;
            margin: 0;

            // decoration
            list-style: none;
        }
    }
}