@mixin flex($direcction: row , $aling: center, $justify: center, $gap: 0, $wrap: nowrap){
    display: flex;
    flex-direction: $direcction;
    align-items: $aling;
    justify-content: $justify;
    gap: $gap;
    flex-wrap: $wrap;
}