// colors

    $h-c-white: #F7F7F8;
    $h-c-white-dark: #DEDDE2;
    $h-c-black: #0A0619;
    $h-c-gray: #8E8D94;
    $h-c-gray-light: #CDCDCD;


// fonts

    $h-f-text-title: 40px;
    $h-f-text-subtitle: 32px;
    $h-f-text-big: 24px;
    $h-f-text-medium: 20px;
    $h-f-text: 16px;
    $h-s-text-small: 14px;